/*::::::::Main*/
.shop{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
  }
      .fotos{
    display: flex;
    background-color: beige;
    padding: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 370px;
    border-radius: 2rem;
    transition: 250ms ease-in-out;
  
      }
  
      .img{
          display: flex;
          justify-content:center;
          width: 200px;
          height: 250px;
  
      }
  
  .presentacion{
      background-color: #0a1a2a;
      color: #fff;
      font-family: "Roboto Condensed",sans-serif;
      text-align: center!important;
      padding: 40px!important;
      text-align: center;
      text-align: center;
  }
  
 