@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sono', sans-serif;
  font-size: 20px;
}

body {
  background-color: #fffafa;
}

#shop .fotos {
  display: flex;
  background-color: #ffebfc;
  padding: 1rem;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 370px;
  border-radius: 2rem;
  transition: 250ms ease-in-out;
}

.img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 250px;

}

.presentacion {
  background-color: #000;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center !important;
  padding: 40px !important;
  text-align: center;
  text-align: center;
}
.carousel {
  width: 40rem;
  height: 30rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.carousel-item img{
  height: 30rem;
}
@media screen and (max-width:800px)
{
  .carousel {
    width: 100%;
    height: 80%;
  }
}

.card img{
  height: 20rem;
  margin-top: 0.7rem ;
}

.card{
  margin: auto;
  margin-top: 2rem ;
  margin-bottom: 4rem;
}